
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Game</h1>


<div id="wheel">

</div>

<div>
    <input type="number" name="bet" id="bet" value="3" />

    <input type="button" id="spinBtn" value="Spin" />
</div>

<div id="scratch-card">

</div>

@section Scripts{
    <script src="~/js/game.js" asp-append-version="true"></script>
}