@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Scratch Cards online games are type of fortune games where the player presses the “Spin” / “Play” button and reveals whether he won or not and what is the amount of the win if there was one. There are many different mechanics of Scratch Cards games.</a>.</p>
</div>
